.center
    text-align: center

.hCentered
    text-align: center

.marginTopSm
    margin-top: 50px

.marginTopMd
    margin-top: 75px

.marginTopLg
    margin-top: 100px

.marginTopXlg
    margin-top: 125px


.greyBackground
    background: #F0F0F0;

.whiteBackground
    background: #FFFFFF;

.vCentered
    display: flex
    justify-content: center
    &>*
        align-self: center

.green
    color: #218740

a.green:hover
    color: $lightGreen

.lightGreen
    color: $lightGreen


@media only screen and (min-width : 992px)
    .sidePaddinglg
        padding-right: 150px
        padding-left: 150px

@media only screen and (min-width : 480px) and (max-width : 768px)
    .sidePaddinglg
        padding-right: 50px
        padding-left: 50px

@media only screen and (min-width : 568px)
    .responsiveVCentered
        display: flex
        max-height: 350px
        justify-content: center
        &>*
            align-self: center

@media only screen and (min-width : 568px) and (max-width : 768px)
    #portfolio #portfolioSlider
        max-height: 200px
        
@media only screen and (max-width : 568px)
    .responsiveVCentered
        max-height: 200px

    #skills
        height: 600px
        padding-left: 70px
        padding-right: 70px