.center
    text-align: center

.vCentered
    display: flex
    justify-content: center
    &>*
        align-self: center

.hCentered
    text-align: center

.marginTopSm
    margin-top: 50px

.marginTopMd
    margin-top: 75px

.marginTopLg
    margin-top: 100px

.marginTopXlg
    margin-top: 125px


.greyBackground
    background: #F0F0F0;

.whiteBackground
    background: #FFFFFF;

.sidePadding200
    padding-right: 200px
    padding-left: 200px
