$white: #FFFFFF
$greyBgColor: #F0F0F0
$grey: #E6E6E6
$greyLighter: #B7C1C5
$greyDarker: #000000

$blackLighter: #181818
$blackDarker: #121212
$logoBlack: #111111
$textColor: #918F8F



$logoWidth: 100px