%sectionSettings
    vertical-align: middle
    text-align: center

%logoWidth
    width: $logoWidth

%sectionPadding
    padding: 60px

.aboutMeLogoHolder,
.headerLogo
    @extend %logoWidth

.aboutMeLogoHolder
    margin: 12px auto

img
    width: 100%

#heroSection
    @extend %sectionSettings
    background: #121212 url("https://dppg6pot5kqvr.cloudfront.net/ui-assets/background_50.jpg") no-repeat 50% 0
    background-size: cover
    height: 400px
    color: #FFFFFF



#aboutMe
    @extend %sectionSettings
    @extend %sectionPadding
    background: $white
    height: 100%
    display: block
    border-top: 1px solid $grey
    border-bottom: 1px solid $grey
    .aboutMeText
        font-size: 12px
        color: $textColor
        width: 45%
        margin: 40px auto

#offerings
    @extend %sectionPadding
    background: $greyBgColor
    height: 100%

    .backgroundBlend
        background: #F0F0F0
        padding: 40px

#skills,
#portfolio
    @extend %sectionSettings
    padding: 40px 60px

    #skillSlider,
    #portfolioSlider
        margin: 50px auto 20px

    #skillSlider
        .row
            div.outer
                border-left: 1px solid $grey

            div:first-child
                border-left: none

.paddingRight30
    padding-right: 30px

#getInTouch
    p
        font-size: 12px

.fa
    transition: all ease-in-out .25s

.fa-facebook:hover
    color: $facebookThemeColor

.fa-twitter:hover
    color: $twitterThemeColor

.fa-instagram:hover
    color: $instagramThemeColor

.fa-linkedin:hover
    color: $linkedInThemeColor

.fa-snapchat-ghost:hover
    color: $snapchatThemeColor


/*==========  Mobile First Method  ==========*/

@media only screen and (min-width : 320px)
    body
        display: block

@media only screen and (min-width : 480px) and (max-width: 768px)
    #aboutMe
        padding-top: 20px
        .aboutMeText
            width: 50%

@media only screen and (min-width : 768px) and (max-width : 992px)
    #aboutMe
        padding-top: 20px
        .aboutMeText
            width: 60%

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
    .responsiveVCentered
        display: flex
        justify-content: center
        &>*
            align-self: center

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
    body
        display: block


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
    body
        display: block

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
    div.outer
        border: none!important

// Custom width to accomodate for nice rendering of hero image and text-align
@media only screen and (max-width : 900px)
    #heroSection
        background: #121212 url("https://dppg6pot5kqvr.cloudfront.net/ui-assets/background_mobile.jpg") no-repeat 50% 0

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
    #aboutMe,
    #offerings
        padding: 20px
    

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px)
    #aboutMe,
    #offerings
        padding: 0
    #skills
        padding: 40px
    .fancy
        &:before,
        &:after
            width: 60px
    #aboutMe
        padding-top: 20px
        .aboutMeText
            width: 70%
    .logo2
        width: 60%!important
    .paddingRight30
        padding: 0

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px)
    body
        display: block