@import 'styleguide/variables.scss';

@mixin fullyCentered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeContainer {
  @include fullyCentered;
  min-height: 600px;
  height: 100vh;
  background: map-get($color, foreground);
  font-family: 'Permanent Marker', cursive;
}

.home {
  @include fullyCentered;
  height: 70%;
  width: 80%;
  font-size: 3.2em;
}

.fullName {
  display: inline-block;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: map-get($color, outline);
  -webkit-text-stroke-width: 1px;
  text-transform: uppercase;
  display: flex;
  opacity: 0;
}

.charHighlighted {
  color: map-get($color, highlight);
  -webkit-text-stroke-color: map-get($color, highlight);

  &:not(:first-of-type) {
    margin-left: 0.5em;
  }
}


.hoverEffect {
  position: absolute;
  height: 2px;
  width: 100%;
}

.fullNameContainer {
  position: relative;
  
  &:hover {
    .hoverEffect,
    .hoverEffectBottom {
      transition: transform 400ms ease-out;
    }

    .hoverEffectTop {
      transform: translateX(200%);
    }
    
    .hoverEffectBottom {
      transform: translateX(-200%);
      transition-delay: 250ms;
    }
  }
}

.hoverEffectTop {
  top: 0;
  transform: translateX(-200%);
  background: linear-gradient(90deg, transparent, map-get($color, highlight));
}

.hoverEffectBottom {
  bottom: 0;
  transform: translateX(200%);
  background: linear-gradient(-90deg, transparent, map-get($color, highlight));
}