.owl-carousel
  .owl-wrapper
    &:after
      content: "."
      display: block
      clear: both
      visibility: hidden
      line-height: 0
      height: 0
    display: none
    position: relative
    -webkit-transform: translate3d(0px, 0px, 0px)
  display: none
  position: relative
  width: 100%
  -ms-touch-action: pan-y
  .owl-wrapper-outer
    overflow: hidden
    position: relative
    width: 100%
    &.autoHeight
      -webkit-transition: height 500ms ease-in-out
      -moz-transition: height 500ms ease-in-out
      -ms-transition: height 500ms ease-in-out
      -o-transition: height 500ms ease-in-out
      transition: height 500ms ease-in-out
  .owl-item
    float: left

.owl-controls
  .owl-page, .owl-buttons div
    cursor: pointer
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

.grabbing
  cursor: url(grabbing.png) 8 8, move

.owl-carousel
  .owl-wrapper, .owl-item
    -webkit-backface-visibility: hidden
    -moz-backface-visibility: hidden
    -ms-backface-visibility: hidden
    -webkit-transform: translate3d(0, 0, 0)
    -moz-transform: translate3d(0, 0, 0)
    -ms-transform: translate3d(0, 0, 0)

.owl-theme .owl-controls
  margin-top: 10px
  text-align: center
  .owl-buttons div
    color: #FFF
    display: inline-block
    zoom: 1
    *display: inline
    margin: 5px
    padding: 3px 10px
    font-size: 12px
    -webkit-border-radius: 30px
    -moz-border-radius: 30px
    border-radius: 30px
    background: #869791
    filter: Alpha(Opacity = 50)
    opacity: 0.5
  &.clickable .owl-buttons div:hover
    filter: Alpha(Opacity = 100)
    opacity: 1
    text-decoration: none
  .owl-page
    display: inline-block
    zoom: 1
    *display: inline
    span
      display: block
      width: 12px
      height: 12px
      margin: 5px 7px
      filter: Alpha(Opacity = 50)
      opacity: 0.5
      -webkit-border-radius: 20px
      -moz-border-radius: 20px
      border-radius: 20px
      background: #869791
    &.active span
      filter: Alpha(Opacity = 100)
      opacity: 1
  &.clickable .owl-page:hover span
    filter: Alpha(Opacity = 100)
    opacity: 1
  .owl-page span.owl-numbers
    height: auto
    width: auto
    color: #FFF
    padding: 2px 10px
    font-size: 12px
    -webkit-border-radius: 30px
    -moz-border-radius: 30px
    border-radius: 30px

.owl-item.loading
  min-height: 150px
  background: url(AjaxLoader.gif) no-repeat center center
.multi-item-carousel
  .carousel-inner
    > .item
      transition: 500ms ease-in-out left
    .active
      &.left
        left: -33%
      &.right
        left: 33%
    .next
      left: 33%
    .prev
      left: -33%
  .carouse-control
    &.left, &.right
      background-image: none

@media all and (transform-3d), (-webkit-transform-3d)
  .multi-item-carousel .carousel-inner > .item
    transition: 500ms ease-in-out all
    backface-visibility: visible
    transform: none !important

h1
  color: white
  font-size: 2.25em
  text-align: center
  margin-top: 1em
  margin-bottom: 2em
  text-shadow: 0px 2px 0px #000000


.owl-wrapper
  vertical-align: middle

.owl-item
  div
    margin: 0 5px

@media (min-width: 1200px)
  #portfolioSlider.owl-carousel
    .col-lg-6
      width: 49%