doctype html
html(lang=en)
    head
        title Mayowa Falade
        meta(charset="utf-8")
        meta(name="description" content="Mayowa Falade's Portfolio Website")
        meta(name="kwywords" content="Mayowa,Falade,Ayodeji,Portfolio,Website,Programmer,Javascript,Python,Freelance,Developer,Andela,world class")
        meta(name="author" content="Mayowa Falade")        
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        //- Favicons
        link(rel="apple-touch-icon" sizes="57x57" href="https://dppg6pot5kqvr.cloudfront.net/ui-assets/apple-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="60x60" href="https://dppg6pot5kqvr.cloudfront.net/ui-assets/apple-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="72x72" href="https://dppg6pot5kqvr.cloudfront.net/ui-assets/apple-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="76x76" href="https://dppg6pot5kqvr.cloudfront.net/ui-assets/apple-icon-76x76.png")
        link(rel="apple-touch-icon" sizes="114x114" href="https://dppg6pot5kqvr.cloudfront.net/ui-assets/apple-icon-114x114.png")
        link(rel="apple-touch-icon" sizes="120x120" href="https://dppg6pot5kqvr.cloudfront.net/ui-assets/apple-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="144x144" href="https://dppg6pot5kqvr.cloudfront.net/ui-assets/apple-icon-144x144.png")
        link(rel="apple-touch-icon" sizes="152x152" href="https://dppg6pot5kqvr.cloudfront.net/ui-assets/apple-icon-152x152.png")
        link(rel="apple-touch-icon" sizes="180x180" href="https://dppg6pot5kqvr.cloudfront.net/ui-assets/apple-icon-180x180.png")
        link(rel="icon" type="image/png" sizes="192x192"  href="https://dppg6pot5kqvr.cloudfront.net/ui-assets/android-icon-192x192.png")
        link(rel="icon" type="image/png" sizes="32x32" href="https://dppg6pot5kqvr.cloudfront.net/ui-assets/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="96x96" href="https://dppg6pot5kqvr.cloudfront.net/ui-assets/favicon-96x96.png")
        link(rel="icon" type="image/png" sizes="16x16" href="https://dppg6pot5kqvr.cloudfront.net/ui-assets/favicon-16x16.png")
        link(rel="manifest" href="https://dppg6pot5kqvr.cloudfront.net/ui-assets/manifest.json")

        link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
        link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Nunito:400,700,300")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(rel="stylesheet" type="text/css" href="./dist/css/main.css")
        link(rel="stylesheet" type="text/css" href="./dist/css/slider_styling.css")

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    body
        header
            .navbar.navbar-default.navbar-fixed-top
                .container
                    .navbar-header
                        a.navbar-brand.headerLogo(href="/")
                            img(src="https://dppg6pot5kqvr.cloudfront.net/ui-assets/logo.png" alt="Mayowa Falade Site Logo" )
        section
            #heroSection.vCentered.font1
                div
                    h2 
                        span Falade 
                        span M
                        span.green ayo
                        span wa
                    br
                    h4 Python and Javascript Ninja

        section
            #aboutMe.vCentered
                .aboutMeLogoHolder
                    img.logo2(src="https://dppg6pot5kqvr.cloudfront.net/ui-assets/logo_inverted.png" alt="Mayowa Falade Site Inverted Logo")
                h4.font1.fancy A LITTLE ABOUT ME
                .aboutMeText
                    p I'm a full stack Python and Javascript Developer with lots of experience building kick-ass applications.
                    p I love to learn new things and I'm always on the look out for opportunities to learn and grow.
                    p I have worked as Backend Python Developer at 
                        span
                            a.green(href="https://www.udacity.com/" target="_blank") Udacity 
                        span and I currently work as a Platform Engineer (consultant) at 
                        span
                            a.green(href="http://www.jstor.org/" target="_blank") Ithaka 
                        span via  
                        span
                            a.green(href="https://www.andela.com" target="_blank") Andela
                    p I suck at soccer, but I make up for it on the console.
                    

        section
            #offerings
                .backgroundBlend
                    .row.hCentered 
                        .col-lg-4.col-md-4.col-sm-12
                            .card
                                h5 Web Design
                                    span.fancyHeader
                                p.small I am proficient at designing modern web interfaces, which focuses on user interaction and experience. 
                                p.small I plan, design, create and code web pages, using both technical and non-technical skills to produce solutions that meet client's requirements 
                                p.small Lorem impsum dolor sit amet blah blah blah... Lorem impsum dolor sit amet blah blah blah... Lorem impsum dolor sit amet blah blah blah... Lorem impsum dolor sit amet blah blah blah
                        .col-lg-4.col-md-4.col-sm-12
                            .card
                                h5 Web Development
                                    span.fancyHeader
                                p.small Lorem impsum dolor sit amet blah blah blah... Lorem impsum dolor sit amet blah blah blah... Lorem impsum dolor sit amet blah blah blah... Lorem impsum dolor sit amet blah blah blah
                                p.small Lorem impsum dolor sit amet blah blah blah... Lorem impsum dolor sit amet blah blah blah... Lorem impsum dolor sit amet blah blah blah... Lorem impsum dolor sit amet blah blah blah
                                p.small Lorem impsum dolor sit amet blah blah blah... Lorem impsum dolor sit amet blah blah blah... 
                        .col-lg-4.col-md-4.col-sm-12
                                .card
                                    h5 Product Management
                                        span.fancyHeader
                                    p.small Lorem impsum dolor sit amet blah blah blah... Lorem impsum dolor sit amet blah blah blah... Lorem impsum dolor sit amet blah blah blah... Lorem impsum dolor sit amet blah blah blah
                                    p.small Lorem impsum dolor sit amet blah blah blah... Lorem impsum dolor sit amet blah blah blah... Lorem impsum dolor sit amet blah blah blah... Lorem impsum dolor sit amet blah blah blah
                                    p.small Lorem impsum dolor sit amet blah blah blah... Lorem impsum dolor sit amet blah blah blah... 

        section.whiteBackground
            #skills
                .text-center
                    h3.headerPadding Proficiency
                        span.fancyHeader
                    #skillSlider
                        .row.responsiveVCentered
                            .col-lg-4.col-md-4.col-sm-12.paddingRight30.outer
                                ul
                                    li
                                        .row
                                            .col-lg-4.col-xs-4.text-right
                                                p Python
                                            .col-lg-8.col-xs-8
                                                .progress
                                                    .progress-bar(role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100" style="width: 86%;")
                                    li
                                        .row
                                            .col-lg-4.col-xs-4.text-right
                                                p Flask
                                            .col-lg-8.col-xs-8
                                                .progress
                                                    .progress-bar(role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;")
                                    li
                                        .row
                                            .col-lg-4.col-xs-4.text-right
                                                p Django
                                            .col-lg-8.col-xs-8
                                                .progress
                                                    .progress-bar(role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;")

                            .col-lg-4.col-md-4.col-sm-12.paddingRight30.outer
                                ul
                                    li
                                        .row
                                            .col-lg-4.col-xs-4.text-right
                                                p Javascript
                                            .col-lg-8.col-xs-8
                                                .progress
                                                    .progress-bar(role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%;")
                                    li
                                        .row
                                            .col-lg-4.col-xs-4.text-right
                                                p AngularJS
                                            .col-lg-8.col-xs-8
                                                .progress
                                                    .progress-bar(role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;")
                                    li
                                        .row
                                            .col-lg-4.col-xs-4.text-right
                                                p ReactJS
                                            .col-lg-8.col-xs-8
                                                .progress
                                                    .progress-bar(role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;")
                                    li
                                        .row
                                            .col-lg-4.col-xs-4.text-right
                                                p NodeJS
                                            .col-lg-8.col-xs-8
                                                .progress
                                                    .progress-bar(role="progressbar" aria-valuenow="74" aria-valuemin="0" aria-valuemax="100" style="width: 74%;")
                                    li
                                        .row
                                            .col-lg-4.col-xs-4.text-right
                                                p ExpressJS
                                            .col-lg-8.col-xs-8
                                                .progress
                                                    .progress-bar(role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;")
                            
                            .col-lg-4.col-md-4.col-sm-12.paddingRight30.outer
                                ul
                                    li
                                        .row
                                            .col-lg-4.col-xs-4.text-right
                                                p HTML/CSS
                                            .col-lg-8.col-xs-8
                                                .progress
                                                    .progress-bar(role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;")
                                    li
                                        .row
                                            .col-lg-4.col-xs-4.text-right
                                                p Test Driven Development
                                            .col-lg-8.col-xs-8
                                                .progress
                                                    .progress-bar(role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;")
                                    li
                                        .row
                                            .col-lg-4.col-xs-4.text-right
                                                p Databases
                                            .col-lg-8.col-xs-8
                                                .progress
                                                    .progress-bar(role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;")
                                    li
                                        .row
                                            .col-lg-4.col-xs-4.text-right
                                                p DevOps
                                            .col-lg-8.col-xs-8
                                                .progress
                                                    .progress-bar(role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;")
        
        section.greyBackground
            #portfolio
                .text-center
                    h3.headerPadding Portfolio
                        span.fancyHeader
                    #portfolioSlider.owl-carousel.greyBackground
                        div
                          a(href="https://easywaya-staging.herokuapp.com/" target="_blank")
                            img(src='https://dppg6pot5kqvr.cloudfront.net/ui-assets/easywaya_50.png' alt="Easywaya project image")
                        div
                          a(href="https://github.com/mfalade/checkoff" target="_blank")
                            img(src='https://dppg6pot5kqvr.cloudfront.net/ui-assets/checkoff_50.png' alt="Checkoff project image")
                        div
                          a(href="http://lekkirepublic.com/" target="_blank")
                            img(src='https://dppg6pot5kqvr.cloudfront.net/ui-assets/lekkirepublic_50.png' alt="Lekki Republic project image")
                        div
                          a(href="https://youtubetomp3ly.herokuapp.com/" target="_blank")
                            img(src='https://dppg6pot5kqvr.cloudfront.net/ui-assets/youtubeconverter_1_50.png' alt="Youtubely project image")
                        div
                          a(href="http://troupon-staging.herokuapp.com/" target="_blank")
                            img(src='https://dppg6pot5kqvr.cloudfront.net/ui-assets/troupon_50.png' alt="Troupon project image")
                        div
                          a(href="http://mayowafalade.com" target="_blank")
                            img(src='https://dppg6pot5kqvr.cloudfront.net/ui-assets/portfolio_50.png' alt="Portfolio project image")
                        div
                          a(href="http://cloud-xchange.herokuapp.com/" target="_blank")
                            img(src='https://dppg6pot5kqvr.cloudfront.net/ui-assets/cloudxchange_50.png' alt="Cloudxchange project image")
                                  

        footer.hCentered
            .primary#getInTouch
                h3.headerPadding Get in Touch
                    span.fancyHeader
                    br
                .row.sidePaddinglg
                    .col-lg-4.col-sm-4
                        i.material-icons email
                        p falademayowa240@gmail.com
                    .col-lg-4.col-sm-4
                        i.material-icons phonelink_ring
                        p +2348037219945
                    .col-lg-4.col-sm-4
                        i.material-icons group_add
                        p linkedin

                
                div.sidePaddinglg
                    br
                    br
                    br                    
                    form
                        .row.form-group
                            .col-lg-6.col-sm-6.col-xs-12
                                input.form-control(type="text" placeholder="Title of Message")
                                br
                                input.form-control(type="text" placeholder="Your Name")
                                br
                                input.form-control(placeholder="Contact")
                                br
                            .col-lg-6.col-sm-6.col-xs-12
                                textarea.form-control(placeholder="Leave a message ..." rows="6")
                        .row
                            col-lg-12
                                br
                                button.btn.btn-default.customBtn(type="button") Submit

            .secondary.vCentered
                p &copy; mayowafalade 2016

        script(src="dist/js/sliderEngine.js")
        script(src="dist/js/sliderInit.js")
        script(src="dist/js/main.js")