extends base
append content
    header
        nav.navbar.navbar-default.navbar-fixed-top
            .container-fluid.px-3.py-1
                .navbar-header
                    a.navbar-brand(href="/")
                        img(src="http://res.cloudinary.com/mayor/image/upload/v1490106286/mf_rhfflx.png" alt="Mayowa Falade Site Logo" )

    section
        #heroSection.vCentered.font1
            canvas.canvas

    section
        #aboutMe
            div
                .aboutMeLogoHolder
                    img.logo2(src="http://res.cloudinary.com/mayor/image/upload/v1490106285/mf_inverted_m3zjd2.png" alt="Mayowa Falade Site Inverted Logo")
                h4.font1.fancy Who I am (in 10 seconds)
                .aboutMeText
                    p I am passionate about programming and I work primarily with Python and Javascript. 
                    p I have lots of experience building kick-a55 applications and I love to learn new things as well as share my knowledge and experience with others.
                    p Currently a technical team lead at Intelia, I have worked as Backend Python Developer at 
                        span
                            a.green(href="https://www.udacity.com/" target="_blank") Udacity 
                        span and as a Fullstack Platform Engineer (consultant) at 
                        span
                            a.green(href="http://www.jstor.org/" target="_blank") JSTOR 
                        span via  
                        span
                            a.green(href="https://www.andela.com" target="_blank") Andela
                    p You can learn more about me 
                        span
                            a.green(href="") here


    footer.hCentered
        .primary#getInTouch
            h3.headerPadding Get in Touch
                span.fancyHeader
                br
            .row.sidePaddinglg
                .col-lg-4.col-sm-4
                    i.material-icons email
                    p falademayowa240@gmail.com
                .col-lg-4.col-sm-4
                    i.material-icons phonelink_ring
                    p +2348037219945
                .col-lg-4.col-sm-4
                    i.material-icons group_add
                    p linkedin

            
            div.sidePaddinglg
                br
                br
                br                    
                form
                    .row.form-group
                        .col-lg-6.col-sm-6.col-xs-12
                            input.form-control#messageTitle(type="text" placeholder="Title of Message*")
                            br
                            input.form-control#messageSender(type="text" placeholder="Your Name*")
                            br
                            input.form-control#senderContact(placeholder="Contact (email / mobile number)*")
                            br
                        .col-lg-6.col-sm-6.col-xs-12
                            textarea.form-control#messageBody(placeholder="Message*" rows="6")
                    .row
                        col-lg-12
                            p#notification
                            br
                            button.btn.btn-default.customBtn#submitButton(type="button") Send Message

        .secondary.vCentered
            .social
                .row
                    .col-lg-offset-1.col-lg-2.col-xs-offset-1.col-xs-2
                        a(href="https://www.facebook.com/falade.mayor" target="_blank")
                            i.fa.fa-facebook(aria-hidden="true")
                    .col-lg-2.col-xs-2
                        a(href="https://twitter.com/mayor_suave" target="_blank")
                            i.fa.fa-twitter(aria-hidden="true")
                    .col-lg-2.col-xs-2
                        a(href="https://www.instagram.com/iam.mayor/" target="_blank")
                            i.fa.fa-instagram(aria-hidden="true")
                    .col-lg-2.col-xs-2
                        a(href="https://ng.linkedin.com/in/falademayowa" target="_blank")
                            i.fa.fa-linkedin(aria-hidden="true")
                    .col-lg-2.col-xs-2
                        a(href="https://www.snapchat.com/mayor_ace" target="_blank")
                            i.fa.fa-snapchat-ghost(aria-hidden="true")
                .row
                    .col-lg-12.col-xs-12
                        p &copy; Mayowa Falade 2016
    
    include jsImports
