script(src="dist/js/libs/constellation.js")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
script(src="dist/js/libs/sliderEngine.js")
script.
	function injectJsOnload() {
		var jsFiles = [
			"dist/js/libs/sliderEngine.js",
			"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js",
			"https://use.fontawesome.com/85b9a1a575.js",
			"dist/js/libs/sliderInit.js",
			"dist/js/build.js"
		];
		jsFiles.forEach(function(jsFile) {
			var script = document.createElement('script');
			script.src = jsFile;
			document.body.appendChild(script);
		});
	}
	if (window.addEventListener)
		window.addEventListener("load", injectJsOnload, false);
	else if (window.attachEvent)
		window.attachEvent("onload", injectJsOnload);
	else window.onload = injectJsOnload;