.navbar
  height: 15vh

.navbar-header
  width: 100%

.navbar-default
  padding-top: 20px
  background: transparent
  border: none

.navbar-right
  float: right

  .material-icons
    font-size: 18px

  a
    color: $white

    &:link,
    &:hover,
    &:active,
    &:visited
      text-decoration: none

    span
      padding-left: 5px

a.navbar-brand
  height: 100%
  padding: 0

  img
    width: 60px

@media only screen and (min-width : 320px) and (max-width : 640px)
    .px-3
        padding-right: 0
        padding-left: 25px